<p>
  Signed-in as: <%= @user.email %> |
  <%= link_to 'sign out', sign_out_path, method: :delete %>
  <%= link_to 'Delete my account', user_path(@user), method: :delete,
    confirm: 'Are you sure you want to delete your account?' %>
</p>

<div id="api-keys">
  <h3>Your API Access Keys</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Access Key</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render @user.api_keys %>
    </tbody>
  </table>

  <%= button_to 'Create a new API Key', api_keys_path, method: :post, remote: true %>
</div>
