<header>
  <p>
    You're currently signed-in as: <strong><%= @user.email %></strong>
  </p>
  <%= link_to 'Not you?', sign_out_path, method: :delete %>
  or
  <%= link_to 'Delete my account', user_path(@user), method: :delete,
    confirm: 'Are you sure you want to delete your account?' %>
</header>

<div id="api-keys">
  <h3>Your API Access Keys</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Access Key</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render @user.api_keys %>
    </tbody>
  </table>

  <p>
    <%= button_to 'Create a new API Key', api_keys_path, method: :post, remote: true %>
  </p>
</div>


<div id="authorizations">
  <h3>Your Authorized Twitter Accounts</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Username</th>
        <th>Authorized</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @user.authorizations %>
    </tbody>
  </table>

  <p>
    <%= button_to 'Authorize a new Twitter account', new_authorization_path, method: :get %>
  </p>
</div>
