<%= content_tag_for :tr, authorization do %>
  <td><%= authorization.created_at.strftime("%B, %Y") %></td>
  <td><%= authorization.username %></td>
  <td><%= authorization.authorized? %></td>
  <td>
    <% if authorization.authorized? %>
      <%= link_to 'Show', authorization_path(authorization) %>
    <% else %>
      <%= link_to 'Authorize', authorization.oauth_authorize_url %>
    <% end %>
    <%= link_to 'Delete', authorization_path(authorization), method: 'delete',
      confirm: 'Are you sure? You will not be able to access any more tweets.',
      remote: true %>
  </td>
<% end %>
