<!DOCTYPE html>
<html>
<head>
  <title>GetMyTweets</title>
  <link href="http://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <h1>Get My Tweets</h1>
      <h2>Your Tweets. In JSON.</h2>
    </div>
  </header>

  <section class="container">
    <div id="main-content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: 'flash', class: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </section>

</body>
</html>
